{% load i18n metadata_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% provide_metadata as METADATA %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block meta %}
            <meta charset="utf-8">
        {% endblock %}
        {% block favicons %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block analytics %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
