{% load website_settings %}

{% get_socials as SOCIALS %}

<div id="social-holder">
    <div class="btn btn-squared btn-small">
        <a href="{{ SOCIALS.facebook }}" class="icon-facebook" target="_blank"></a>
        <svg viewBox="0 0 60 60">
            <polygon points="0,60 0,10 10,0 60,0 60,50 50,60 "/>
        </svg>
    </div>
    <div class="btn btn-squared btn-small">
        <a href="{{ SOCIALS.vkontakte }}" class="icon-vk" target="_blank"></a>
        <svg viewBox="0 0 60 60">
            <polygon points="0,60 0,10 10,0 60,0 60,50 50,60 "/>
        </svg>
    </div>
</div>
